<%- include("partials/header"); %>
<div class="container-fluid">
  <div class="block">
    <h1><%= content.main.title %></h1>
    <p><%= content.main.text %></p>
  </div>
</div>
<%- include("partials/footer"); %>
