<%- include("partials/header"); %>
<div class="container-fluid">
  <div class="block">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <a href="#" onclick="window.history.back();">Back</a>
  </div>
</div>
<%- include("partials/footer"); %>
